
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">127 Hours</h1>
            <p class="lead">Don't get stuck between a rock and a hard place</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Add Site</a>
            </p>
        </div>

        <div class="col-md-6">
        <%= image_tag "camp02", class: "home-image" %>

        </div>
    </div>
        

        
    
</div>